h2 {
  font-weight: normal;
  margin-top: 0;
}
.story-grid {
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 3em;
}
.story-wrapper {
  background: #fff;
  border: 1px solid #d6d4d4;
  border-radius: 10px 30px 10px 10px;
  box-shadow: #d2d2d2;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  width: 40%;
}
img {
  border-radius: 10px;
    width: 40%;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   padding: 0 1rem;
}
.news {
  color: #827ee9;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
}